.Register{
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        padding: 90px 0 50px 0;
        font-size: $h1FontSize;
        font-weight: 400;
    }
    p{
        padding-bottom: 25px;
    }
    button{
        margin: 10px 0 20px 0;
    }
    article{
        margin-top: 19px;
    }
}