.Transactions{
<<<<<<< HEAD
    //margin-top: 80px;
=======
    margin-top: 50px;
>>>>>>> e2e8128cc0df2a787906014303c6c0413e9c98b4
    padding: $sidePadding;
    background-color: $backgroundColor;
    // overflow: scroll;
    // height: 600px;
    .transactionsList {

    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 20px;
        .showFull {
            color : $blueText;
            &:hover {
                cursor:pointer;
            }
        }
    }
    .mehr {
        background-color: $inputColor;
        margin-top: 20px;
        margin-bottom: 110px ;
        width: 100%
    }
}