// IMPORTS 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');
@import './assets';

//Components
@import "../components/Footer/Footer.scss";
@import "../components/Header/Header.scss";
@import "../components/SuccsessAddTran/SuccsessAddTran.scss";
@import '../components/TransactionItem/TransactionItem.scss';
@import '../components/EASS/EASS.scss';
@import'../components/Loading/Loading.scss';

//Pages
@import "../pages/AddTransaction/AddTransaction.scss";
@import "../pages/Chart/Chart.scss";
@import "../pages/Error/Error.scss";
@import "../pages/Login/Login.scss";
@import "../pages/Register/Register.scss";
@import "../pages/Transactions/Transactions.scss";
@import "../pages/Welcome/Welcome.scss";
